<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,104},{58,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{58,63}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,164},{52,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,148},{52,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{48,65}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,65}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,100},{46,65}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,65}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{46,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{46,65}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,56},{46,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{46,65}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,52},{46,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{46,65}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{46,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{46,59}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{46,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{46,59}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{46,57}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{46,57}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,218},{52,59}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,59}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r20.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,262},{48,55}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{48,55}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r21.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,262},{48,55}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{48,55}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r22.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,326},{50,53}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{50,53}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,310},{52,53}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{52,53}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r24.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,202},{52,59}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{52,59}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,202},{52,59}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{52,59}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{52,63}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,63}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r27.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{52,65}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{52,65}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,148},{56,57}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,272},{52,57}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,57}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,206},{54,57}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{54,57}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,256},{52,57}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{52,57}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{50,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{50,55}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{50,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{50,55}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{50,61}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,61}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rightWalk.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd834b612b617bed5356c9f3c75a395$</string>
            <key>textureFileName</key>
            <string>rightWalk.png</string>
        </dict>
    </dict>
</plist>
